* {
    margin: 0%;
    padding: 0%;
}

body {
    background: url(../content/background.png);
    height: 100%;
    place-items: center;
    background-size: cover;
    display: grid;
}

.road {
    background-image: url(../content/road.png);
    background-repeat: repeat-y;
    background-size: 103%;
    background-position: 27px;
    animation: endlessRoad 250s linear infinite;
    height: 100%;
    width: 100%;

    position: relative;
    top: 0px;
    left: 0px;
}

.obstacle {

}

#carimg {
    height: 10%;
    width: auto;
    position: absolute;
}

@keyframes endlessRoad {
    from {
        background-position: 0 -50000px;
    }
    to {
        background-position: 0 0;
    }
}

#start {
    position: fixed;
    top: 60vh;
    left: 47vw;
    background-color: gray;
    color: white;
    font-size: 2rem;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    padding: 5px;
    background-color: white;
    border-radius: 20px;

}



